:root {
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;

  --primary-50: #22261a;
  --primary-100: #35382c;
  --primary-300: #314f00;
  --primary-400: #436900;
  --primary-500: #558400;
  --primary-700: #7ebd10;
  --primary-800: #97d934;
  --primary-900: #b2f74f;
  --primary-990: #f9ffe8;

  --primary-overlay-0: rgba(178, 247, 79, 0);
  --primary-overlay-40: rgba(178, 247, 79, 0.04);
  --primary-overlay-500: rgba(178, 247, 79, 0.5);

  --secondary-300: #273f97;
  --secondary-400: #354ca3;
  --secondary-500: #5b71cb;
  --secondary-700: #92a6ff;
  --secondary-800: #b8c4ff;
  --secondary-900: #dde1ff;
  --secondary-950: #efefff;

  --secondary-overlay-200: rgba(39, 63, 151, 0.5);
  --secondary-overlay-800: rgb(254, 251, 255, 0.5);

  --red-300: #93000a;
  --red-500: #de3730;
  --red-950: #ffedea;
  --red-990: #fefbff;

  --blue-990: #0000ff;

  --orange-500: #fa903c;

  --surface-200: #22261a;
  --surface-900: #e3e3db;

  --gray-100: #1b1c18;
  --gray-200: #30312c;
  --gray-300: #464742;
  --gray-500: #777771;
  --gray-600: #91918b;
  --gray-650: #c7c7c0;
  --gray-900: #e3e3db;

  --gray-overlay-120: rgba(255, 255, 255, 0.12);
  --gray-overlay-800: rgba(27, 28, 24, 0.8);

  --lightPurple-100: #ffffff;
  --lightPurple-200: #fafaff;
  --lightPurple-300: #efefff;
}
