.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.translate-x-2px {
  transform: translateX(2px);
}

.\-translate-x-2px {
  transform: translateX(-2px);
}

.\-translate-x-80\% {
  transform: translateX(-80%);
}

.\-translate-y-1\/2 {
  transform: translateY(-50%);
}

.translate-y-1\/2 {
  transform: translateY(50%);
}

.duration-700 {
  transition-duration: 700ms;
}
